$animationSpeed: 0.5s;

.modal {
    &__overlay,
    &__window {
        opacity: 0;
        z-index: -1;
    }

    &.open {
        .modal__overlay,
        .modal__window {
            opacity: 1;
            z-index: 100;
        }

        .modal__overlay {
            background: rgba(0, 0, 0, 0.5);
        }

        .modal__window {
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &.hide {
        .modal__overlay,
        .modal__window {
            opacity: 1;
            z-index: 100;
        }

        .modal__overlay {
            background: rgba(0, 0, 0, 0);
        }

        .modal__window {
            top: -100%;
            transform: translate(-50%, 0);
        }
    }

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0);
        transition: background $animationSpeed ease;
    }

    &__window {
        position: absolute;
        top: -100%;
        left: 50%;
        width: 600px;
        border-radius: 5px;
        background: #fff;
        transform: translate(-50%, 0);
        transition: all $animationSpeed ease;
    }

    &__header {
        padding: 20px 20px 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #eee;
    }

    &__title {
        font-size: 1.5rem;
    }

    &__close {
        font-size: 2rem;
        cursor: pointer;
    }

    &__body {
        padding: 10px 20px;
    }

    &__footer {
        display: flex;
        justify-content: flex-end;
        padding: 10px;
        border-top: 1px solid #eee;
    }

    &__btn {
        padding: 10px;

        & + & {
            margin-left: 10px;
        }
    }
}
